html { 
  background: url(../img/bg-switchyard2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
    background-color: rgba(216,216,216,0.8);
    padding: 40px;
    border-radius: 10px;
}
#shows {
    background-color: rgba(216,216,216,0.8);
    padding: 40px;
    border-radius: 10px;
    display:none;
}

.vid {
    background-color: #000;    
}
.close {
    color: #fff;    
}
